  <% # Placeholders to understand navigation %>
<navbar>
  <button>Logo</button>
  <%= link_to "Home", root_path, class: "btn btn-secondary" %>
  <%= link_to "New category", new_category_path, class: "btn btn-secondary" %>
</navbar>

  <h3>Add a recipe to your <%= @category.name %> category</h3>
  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.association :recipe, prompt: "Select a recipe", input_html: {data: {controller: "tom-select"}} %>
    <%= f.input :comment, placeholder: "Enter comment" %>
    <%= f.button :submit, "Add Recipe", class: "btn btn-flat"%>
  <% end %>

  
