<% # Navbar placeholder to understand navigation: %>
<navbar>
  <button>Logo</button>
  <%= link_to "Home", root_path, class: "btn btn-secondary" %>
  <%= link_to "New category", new_category_path, class: "btn btn-secondary" %>
</navbar>

<div>
  <h1>Cookbook</h1>
  <h2>Save your favorite recipes</h2>
</div>
<div>
  <h1>List of categories:</h1>
  <div>
    <% @categories.each do |category| %>
      <div>
        <%= link_to category_path(category) do %>
            <div>
              <%= category.name %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "New category", new_category_path, class: "btn btn-primary" %>
</div>
