<div class="banner" style="background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%), url(<%= image_path('banner.jpg') %>);">
  <div class ="center">
    <h1>The Patisserie Cookbook</h1>
    <h2>Save your favorite dessert recipes</h2>
  </div>
</div>


<div class="container">
  <div class="cards-info">
    <h2>Choose your favorite sweets</h2>
    <%= link_to "Add category", new_category_path, class: "btn btn-primary btn-pink" %>
  </div>

  <div class="cards">
    <% @categories.each do |category| %>
      <div class="card-category" style="background-image: url(<%= image_path('jelly.jpg') %>)">
        <%= link_to category_path(category), class: "category-link" do %>
              <%= category.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
