<% # Navbar placeholder to understand navigation: %>
<navbar>
  <button>Logo</button>
  <%= link_to "Home", root_path, class: "btn btn-secondary" %>
  <%= link_to "New category", new_category_path, class: "btn btn-secondary" %>
</navbar>

<h1>Create a new Category</h1>
<%= simple_form_for @category do |f| %>
  <%= f.input :name, placeholder: 'Gluten free' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
