<% # Placeholders to understand navigation %>
<navbar>
  <button>Logo</button>
  <%= link_to "Home", root_path, class: "btn btn-secondary" %>
  <%= link_to "New category", new_category_path, class: "btn btn-secondary" %>
</navbar>

<h1><%= @category.name %></h1>
<div>
  <h2>Recipes:</h2>
   <button>Add a recipe</button>
   new_category_bookmark
  <ul>
    <% @category.bookmarks.each do |bookmark| %>
      <li><%= bookmark.recipe.name %></li>
      <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Back to Categories list", root_path, class: "btn btn-primary" %>
</div>
