<div class="banner" style="background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%), url(<%= image_path('banner.jpg') %>);">
  <div class ="center">
    <h2><%= @category.name %></h2>
  </div>
</div>

<div class="container">
  <div class = "cards-info">
    <h2>Recipes:</h2>
    <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: "btn btn-primary" %>
    <div>
      <% @category.bookmarks.each do |bookmark| %>
        <div>
          <%= bookmark.recipe.name %>
          <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to "Back to Categories list", root_path, class: "btn btn-primary" %>
  </div>
</div>
