<% # Placeholders to understand navigation %>
<navbar>
  <button>Logo</button>
  <%= link_to "Home", root_path, class: "btn btn-secondary" %>
  <%= link_to "New category", new_category_path, class: "btn btn-secondary" %>
</navbar>

<h1><%= @category.name %></h1>
<div>
  <div>
    <h2>Recipes:</h2>
    <div>
      <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: "btn btn-primary" %>
    </div>
  </div>

  <div>
    <% @category.bookmarks.each do |bookmark| %>
      <div>
        <%= bookmark.recipe.name %>
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "Back to Categories list", root_path, class: "btn btn-primary" %>
</div>
