<div class="banner" style="background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%), url(<%= image_path('banner.jpg') %>);">
  <div class ="center">
    <h2><%= @category.name %></h2>
  </div>
</div>

<div class="container">
  <div class = "cards-info">
    <h2>Recipes:</h2>
    <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: "btn btn-primary btn-pink" %>
  </div>

  <div class="cards">
    <% @category.bookmarks.each do |bookmark| %>
      <div class="card-recipe">
        <%= link_to bookmark_path(bookmark),
          data: {turbo_method: :delete,
                turbo_confirm: "Are you sure?"}, class: 'btn-delete' do %>

          <i class="fa-solid fa-trash"></i>
        <% end %>

        <img src="<%=bookmark.recipe.image_url%>" alt="recipe image">

        <div class="card-recipe-description">
          <h2><%= bookmark.recipe.name %></h2>
          <p><%= bookmark.recipe.description.truncate(250) %></p>
        </div>

        <div class="card-recipe-info">
          <div>
            <i class="fa-solid fa-quote-left me-2"></i><%= bookmark.comment %>
          </div>

          <div>
            <%= bookmark.recipe.rating %> <%= '⭐️' * bookmark.recipe.rating %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
  <div>
    <%= link_to "Back to Categories list", root_path, class: "btn btn-primary btn-nav" %>
  </div>
</div>
